mixin createPropertiesOverview(prefix,properties)
    li.properties
        h3 #{prefix}
        ul.property-list
            each group in properties
                li.list
                    - if(group.name)
                    h3 #{group.name}
                    ul
                        each item in group.items
                            li #{item.name}



mixin createSubModuleReference(module)
    li.overview-sub-module
        header
            .overview-info
                h2 #{module.name}
                a(href='#{module.source}') source
            .overview-description
                p #{module.description}
        ul.sub-module-properties
            -if(module.properties.static && module.properties.static.length)
            +createPropertiesOverview('static',module.properties.static)
            -if(module.properties.instance && module.properties.instance.length)
            +createPropertiesOverview('instance',module.properties.instance)


mixin createModuleReference(module)
    li.overview-module
        header.module-info
            h2 #{module.name}
            .info-meta
                a(href='#{module.meta.repository}') repository
                |  |
                a(href='#{module.meta.npm}')  npm
            a.info-layout-trigger
        ul.overview-sub-modules
            each submodule in module.modules
                +createSubModuleReference(submodule)


doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        link(type= "text/css" rel="styleSheet" href="./style/style.css")
    body
        header#beta-label
            strong FOAM BETA API REFERENCE
            |  – Overview beta.0.0.4
        main#reference-beta
            header#reference-header
                img(src='./assets/images/Logo-50x65.svg')#header-logo
                h1 A Javascript toolkit for working on graphics in browser-environments
                a#header-btn-github view on github
                #header-search-placeholder
                    | Search Reference
                    span.placeholder modules,classes,methods or constants
            section#reference-overview
                ul#overview
                    each module in modules
                        +createModuleReference(module)
            section#reference-detail
                ul#detail
            footer

